# Hardhat dirs
artifacts
cache
deploy
deployments
node_modules
# scripts
data
typechain
coverage
test_ref
testFunction
test
client
scripts

# DIY dirs
notebooks/
contracts_ref/
ref_contracts/
deploy_all
verify
task
config

# debug dirs
debug

# ignore dirs
.DS_Store

# hardhat files
package-lock.json
.env
.slither.json
update-contracts.py
yarn-error.log
tenderly.yaml
coverage.json

# config files
.env
hardhat.config.ts
.mocharc.json
.solcover.js
.solhint.json
Makefile
.env.example
.eslintignore
.npmignore
.prettierignore
.prettierrc
.solhintignore
.eslintrc.js
hardhat.config.js
package.json
yarn.lock

# complementary info
test-record.txt

#IDE
.idea
.vscode
